#china, #dubai, #ireland, #myanmar, #lagos {
  display: none;
  margin-top: 5%
}

.carousel-inner{
  width: 120%;
  margin-left: -10%;
}

@media (min-width: 768px){
  .carousel-inner{
    width: 100%;
    margin: 0;
  }

.carousel-caption {
  font-size: 4em;
}

form {
background-color: #fff3e5;
padding: 20px;
}
